body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0b0a0a;
    color: #cccccc;
}

.header {
    background: #37383a;
    color:  #cccccc;;
    padding: 15px;
    text-align: center;
}

#nav {
    background: #232121;
    padding: 10px;
    text-align: center;
}

#nav a {
    color: #cccccc;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

#nav a:hover {
    background: #394450;
}

.main {
    background: #232121;
    padding: 20px;
    margin: 15px;
}

h1, h2, h3 {
    color: #cccccc;
}

.list {
    padding: 15px;
    margin: 15px;
}

#examples {
    background: #232121;
    padding: 10px;
    margin: 10px;
}

.code_example {
    background: #232121;
    padding: 10px;
    border-left: 3px solid #37383a;
    font-family: monospace;
    margin: 10px;
}

#sources {
    padding: 10px;
}

.footer {
    background: #37383a;
    color: #cccccc;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.image {
float: right;
width: 500px;
}

