/* base styles */
*{

    box-sizing: border-box;
}

main {
    grid-area: main;
}

body {
    background-color: rgb(189, 189, 189);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
} 
/* Header*/
header {
    grid-area: header;
    background-color: rgba(81, 82, 97, 0.849);
    color: rgb(0, 0, 0);
    align-content: center;
}
/*main*/
#lab02 {
    border: 5px solid black;
}

#blueberries {
    text-align: center;
}
.lists {
    background-color: rgb(37, 35, 35);
    color: rgb(189, 189, 189);
}
footer{
    grid-area: footer;
    background-color: rgba(81, 82, 97, 0.849);
    padding:15px;
}

a {
    color: rgb(0, 0, 0);
    background-color:rgb(189, 189, 189);
}

.reflections2n3 {
    border: 5px solid black;
}

.reflections5n {
    border: 5px solid black;
}

#navbar{
    color:rgb(0, 0, 0);
    background-color:  rgb(189, 189, 189);
    font-weight: bolder;
}
/* desktop display */
@media (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr auto;
    }
}

/*mobile display*/
@media (min-width: 600) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }
        
}

div{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer";
}
    