body {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    background-color:rgb(255, 255, 255);
    color: #464646;
}

h1 {
    color: rgb(255, 72, 0);
    text-align: center;
}

h2 {
    color: blue;
}

h3 {
    color: rgb(83, 83, 83);
    margin-left: 20px;
    padding: 5px;
    background-color: #e9f5ff;
}

a {
    color: rgb(83, 83, 83);  
}